
.container {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.keys {
    font-size: 2.5rem;
    padding: 0 0.5rem 0 0.5rem;
    font-style: monospace;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1/1;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    color: black;
}

.keys:hover:not(:disabled), .keys:focus:not(:disabled) {
    background-color: hsl(200, 100%, 75%);
}

.keys.active {
    background-color: hsl(200, 100%, 50%);
    color: white;
}

.keys.inactive {
    opacity: 0.3;
}